/*
 *  Main CSS
 *
 *  Authors:  2011-2014, Anthony Dillon
 *            2016, Robin Winslow
 *            -----------------------------
 *            2016, Luke Horwell <lukehorwell37+code@gmail.com>
 */

body {
  background-color: black;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Ubuntu" !important;
  color: white;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
  cursor: default;
  font-family: "Ubuntu";
}

a {
  outline: none;
  color: #87A752;
  text-decoration: none;
  cursor: pointer;
}

.window {
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  position: absolute;
  background: url(../img/folder/top-bg.jpg) repeat-x;
  background-color: #f2f1f0;
  color: #4C4C4C;
  font-size: 14px;
  z-index: 1;
}

input::-moz-selection { background: #87A752; color: #fff; }
input::-webkit-selection { background: #87A752; color: #fff; }
input::selection { background: #87A752; color: #fff; }

textarea::-moz-selection { background: #87A752; color: #fff; }
textarea::-webkit-selection { background: #87A752; color: #fff; }
textarea::selection { background: #87A752; color: #fff; }

textarea {
  background-color: #fff;
  border: 1px solid #ada9a5;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  padding: 2px;
  font-family: "Ubuntu";
}

input {
  background-color: #fff;
  border: 1px solid #ada9a5;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  padding: 2px;
  font-family: "Ubuntu";
}

#Translation-Strings {
  display: none;
}

#tooltip {
  z-index: 10;
  height: 20px;
  background: url("../img/menu/tooltip-background.png") repeat-x;
  border: 1px solid #4a3742;
  border-left: none;
  display: none;
  position: absolute;
  left: 82px;
  padding: 3px 10px 2px 10px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

#tooltip #tooltip-text {
  font-size: 14px;
  white-space: nowrap;
}

.fullscreenTransOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../img/black-bg-00.png);
  background: rgba(0, 0, 0, 0);
  z-index: 8;
}

.fullscreenErrorTransOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../img/black-bg-00.png);
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.fullsize {
  top: 24px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% - 24px - 24px; /* Calculations Needed */
}

.ui-slider {
  position: relative;
  background: url('../img/speaker-bg-slider.png') 0 10px no-repeat transparent;
  height: 10px;
  width: 195px;
}

.ui-slider:hover {
  cursor: pointer;
}

.ui-slider a {
  margin: -6px 0 0 -5px;
  position: absolute;
  background: url('../img/button-slider.png') 0 0 no-repeat transparent;
  width: 12px;
  height: 20px;
  display: block;
}

.selected-window {
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
}

.selected-window .control .window-title {
  color: #DFDBD2;
}

.folder {
  width: 730px;
  height: 500px;
  top: 200px;
  left: 600px;
  display: none;
}

.control {
  height: 21px;
  margin-left: 10px;
  margin-top: 6px;
}

.control .folder-title {
  font-weight: bold;
  float: left;
  color: #DFDBD2;
  font-size: 14px;
  margin-left: 10px;
}

.control .close {
  background: url(../img/folder/close.jpg) no-repeat;
  height: 19px;
  width: 18px;
  float: left;
}

.control div:hover {
  background-position: 0px -19px !important;
}

.control .min {
  background: url(../img/folder/minimise.jpg) no-repeat;
  height: 19px;
  width: 19px;
  float: left;
}

.control .max {
  background: url(../img/folder/maximise.jpg) no-repeat;
  height: 19px;
  width: 17px;
  float: left;
}

.window-title {
  color: #807d78;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 18px;
  margin-left: 10px;
  overflow: hidden;
  max-width: 90%;
}

.hide {
  display: none;
}
