body {
  background-color: #3C3B37;
}

#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 150px;
  text-align: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

/*
.option {
  display: inline;
  height: 24px;
  width: 200px;
  text-align: center;
  border: 1px solid gray;
  margin: 0;
  padding: 4px;
}
*/

.lang-list {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  height: 84px;
  /*overflow-y: scroll; *** Use when there's loads of languages */
  list-style: none outside none;
}

.lang-list a {
  color: white;
}

.lang-opt {
  display: block;
  width: 140px;
  height: 18px;
  padding: 4px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.lang-opt:hover, lang-opt:focus {
  background-color: gray;
  color: black;
}

.lang-opt:active {
  background-color: white;
  color: black;
}

/**********************
 * Flags (Sprite Sheet)
/**********************/
.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  pointer-events: none;
  vertical-align: middle;
  background-image: url('../img/spritesheets/flags.png');
  background-repeat: no-repeat;
  vertical-align: middle;
}
