/*
 *  Preloader
 *
 *  Authors:  2011, Anthony Dillon
 */

#loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #3C3B37;
}

#loader #dot-container {
  position: absolute;
  background: url(../img/loader/ubuntu-loader.gif) no-repeat;
  width: 500px;
  height: 169px;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#loader-error-bkgnd {
  background: url(../img/background-mono.jpg) no-repeat center center fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#loader-error {
  background: url(../img/loader/loader-error.png) no-repeat;
  width: 548px;
  height: 166px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#loader-error p {
  color: black;
  margin-top: 40px;
  margin-left: 80px;
  z-index: 3;
}
