/*
 *  Panels
 *
 *  Authors:  2011, Anthony Dillon
 *            ----------------------
 *            2016, Luke Horwell <luke@ubuntu-mate.org>
 */

/**********************
 * Panel Base Layout
/**********************/
.panel {
  background-image: url(../img/panel/bg.jpg);
  background-repeat: repeat-x;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 24px;
  color: #DFDBD2;
  z-index: 11;
  font-size: 15px;
}

.panel-bottom {
  background-color: #3C3B37;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 24px;
  color: #DFDBD2;
  z-index: 11;
  font-size: 15px;
}

.panel .panel-left {
  float: left;
  padding-top: 3px;
}

.panel .panel-right {
  float: right;
}

.panel div {
  float: left;
  padding: 0px 8px;
  overflow: hidden;
}

.panel div ul {
  list-style-position: inside;
}

.panel div img.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40)
}

.panel-divider {
  display: inline-block;
  float: left;
  width: 14px;
  height: 22px;
  background-image: url('../img/spritesheets/icons-22.png');
  background-position: -132px -22px;
  background-repeat: no-repeat;
  padding: 0px;
  float: left;
}

/**********************
 * Panel Shadows
/**********************/
.panel .dropShadow {
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}

/**********************
 * Menu Icon
/**********************/
.panel #panel-menu-icon {
  background: url('../img/panel/menu-icon.png') no-repeat center center;
  width: 20px;
  height: 24px;
  top: 0;
  left: 0;
  position: absolute;
}

/**********************
 * Drop-down Menus
/**********************/
.drop-down {
  list-style-type: none;
  background: #464641;
  padding: 0px 0px;
  margin-top: 0px;
  -moz-box-shadow: -1px 1px 5px #000000;
  -webkit-box-shadow: -1px 1px 5px #000000;
  box-shadow: -1px 1px 5px #000000;
  position: absolute;
  display: none;
  z-index: 10;
}

/* Left Menu */
.panel-left ul li {
  height: 20px;
  padding: 4px 2px 5px 5px;
}

.panel-left .menu-icon {
  padding: 1px;
  margin-right: 4px;
}

.panel-left .panel-icon {
  padding: 0;
  margin: 0;
  top: -2px;
  position: relative;
}

/* Right Indicators */
.panel-right ul li {
  height: 18px;
  padding: 3px 3px 3px 15px;
}

.panel div ul li img {
  margin-left: -10px;
  margin-right: 5px;
  vertical-align: middle;
}

.panel div ul li.divider {
  height: 1px;
  background: #3d3c39;
  border-bottom: 1px solid #484844;
  padding: 0px;
  margin: 4px 0px;
}

.panel .selected {
  background: url(../img/panel/selected-bg.jpg) repeat-x;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.drop-down li.disabled {
  color: white !important;
  opacity: 0.3;
}

.drop-down li .key-combo {
  float: right;
  color: #666;
  background-color: transparent;
}

.drop-down li.disabled:hover {
  background: #464641;
  color: #666;
}

.drop-down li:hover {
  background: url(../img/panel/drop-down-hover.jpg) repeat-x;
  color: white;
}

.panel div ul li.divider:hover {
  background: #3d3c39;
}

.panel #applications {
  margin-left: 18px;
}

/**********************
 * Drop-down Positions
/**********************/
.panel #applications .drop-down {
  width: 208px;
  left: 0;
  top: 24px;
}

.panel #places .drop-down {
  width: 208px;
  margin-right: -120px;
  top: 24px;
}

.panel #system .drop-down {
  width: 208px;
  margin-right: -120px;
  top: 24px;
}

.panel #user .drop-down {
  width: 192px;
  margin-left: -129px;
}

.panel #time .drop-down {
  width: 300px;
  margin-left: -233px;
  margin-top: 3px;
}

.panel #speakers .drop-down {
  width: 255px;
  margin-left: -170px;
}

.panel #connection .drop-down {
  width: 219px;
  margin-left: -140px;
}

.panel #bluetooth .drop-down {
  width: 208px;
  margin-left: -120px;
}

.panel #time p {
  margin: 0px;
}

.panel #time .system-calendar {
  background: url(../img/panel/calendar.jpg) no-repeat;
  width: 291px;
  height: 292px;
  margin-left: 0;
  margin-top: 0;
}

/**********************
 * Drop-down Alignments
/**********************/
.panel #connection,
.panel #speakers,
.panel #bluetooth {
  padding-top: 4px;
}

.panel #user {
  padding-top: 2px;
}

.panel #power {
  padding-top: 2px;
}

.panel #time,
.panel #user {
  padding-top: 3px;
}

.panel #user img {
  vertical-align: bottom;
}

.panel #speakers div {
  float: left;
}

.panel #speakers .small-icon {
  background: url(../img/panel/0slider.jpg) no-repeat;
  height: 15px;
  width: 7px;
  margin-top: 12px;
}

.panel #speakers .system-volume {
  height: 37px;
  padding: 3px;
}

.panel #speakers .system-volume:hover,
.panel #speakers .banshee:hover {
  background: none;
}

.panel #speakers .slider {
  width: 185px;
  height: 17px;
  float: left;
  overflow: visible;
  cursor: default;
  margin-top: 5px;
  padding-top: 10px;
}

.panel #speakers .slider-active {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #87A752;
  height: 5px;
  width: 60px;
  margin-left: 26px;
  margin-top: -15px;
  position: relative;
   z-index: 1;
   padding: 0px;
}

.panel #speakers .ui-slider-handle {
  z-index: 2;
}

.panel #speakers .large-icon {
  background: url(../img/panel/100slider.jpg) no-repeat;
  height: 15px;
  width: 7px;
  float: right;
  margin-top: 12px;
}

/**********************
 * Sub Drop-down Menus
/**********************/
#submenu-accessories {
  top: 24px;
  left: 210px;
  width: 250px;
}

#submenu-graphics {
  top: 54px;
  left: 210px;
  width: 250px;
}

#submenu-internet {
  top: 83px;
  left: 210px;
  width: 250px;
}

#submenu-office {
  top: 112px;
  left: 210px;
  width: 210px;
}

#submenu-media {
  top: 140px;
  left: 210px;
  width: 200px;
}

#submenu-systools {
  top: 169px;
  left: 210px;
  width: 240px;
}

#submenu-univaccess {
  top: 199px;
  left: 210px;
  width: 180px;
}

/**********************
 * Window List
/**********************/
#window-list {
  margin: 0;
  padding: 0;
  height: 24px;
  list-style-type: none;
  background-color: #3C3B37;
}

.window-button {
  width: 207px;
  height: 24px !important;
  background-color: #3D3D39;
  border: #31302d 1px solid;
  display: inline-block;
  margin: 0;
  margin-left: -2px;
  margin-right: -2px;
  padding: 2px !important;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.window-button:hover, .window-button:focus {
  background-color: #4b4b47 !important;
}

.window-button.active {
  background-color: #2B2B28;
  border: #272625 1px solid;
}
